.DS_Store
data/
.idea/
nlgeval/pycocoevalcap/bleu/__pycache__
nlgeval/pycocoevalcap/cider/__pycache__
nlgeval/pycocoevalcap/meteor/__pycache__
nlgeval/pycocoevalcap/rouge/__pycache__
nlgeval/__pycache__
evals/__pycache__
sources/kgmoe/__pycache__
trainers/__pycache__
wandb/
preprocess/__pycache__
preprocess/log/
preprocess/wandb/
preprocess/model_save


comet/utils/__pycache__
comet/src/train/__pycache__
comet/src/interactive/__pycache__
comet/src/models/__pycache__
comet/src/evaluate/__pycache__
comet/model/
comet/pretrained_models
comet/data/
*.pyc
